# Linking Coordinates from .shp file to parcel information on .xlsx file

In [1]:
import shapefile
import shapely
from shapely.geometry import shape,mapping, Point, Polygon, MultiPolygon
import pandas as pd

### Reading Coordinates

In [2]:
#Point Shape File name and location
SHP_FILE_NAME = 'data/num_parcelles_corrected.shp'
#Point Record File name and location
DBF_FILE_NAME = 'data/num_parcelles_corrected.dbf'

In [3]:
#Poly Shape File name and location
POLY_SHP_FILE_NAME = 'data/buildings_fixed.shp'

In [4]:
#Reading shape and records for points
sf1 = shapefile.Reader(DBF_FILE_NAME)
shapeRecs = sf1.shapeRecords()
sf2 = shapefile.Reader(SHP_FILE_NAME)
shapes = sf2.shapes()

In [5]:
#Reading shapes for polygons
sf3 = shapefile.Reader(POLY_SHP_FILE_NAME)
shapesPoly = sf3.shapes()

In [6]:
#Preparing information concatenation by creating lists
shapes_lst = []
for i in range(0,len(shapes)) :
    shapes_lst.append(shapes[i].points[0:2])

shapeRecords_lst = []
for i in range(0,len(shapeRecs)) :
    shapeRecords_lst.append(shapeRecs[i].record[1:3])

In [55]:
#Preparing information concatenation by creating lists
shapesPoly_lst = []
for i in range(0,len(shapesPoly)) :
    new_list = shapesPoly[i].points
    new_list = [list(ele) for ele in new_list]
    new_list_list=[]
    new_list_list.append(new_list)
    shapesPoly_lst.append(new_test_list)

In [61]:
#Finding to which polygon each point is associated
points = [pt.shape.__geo_interface__ for pt in sf2.shapeRecords()]
points_in_poly=[None]*len(shapes_lst)
count=0
for j,multiInt in enumerate(sf3.shapeRecords()):
    multi = shape(multiInt.shape.__geo_interface__)
    found = False
    for i, pt in enumerate(points):
        point = shape(pt)
        if point.within(multi): 
            points_in_poly[i]=j
            found=True
    
    if found:
        count = count + 1
        
print(count)

1887

In [79]:
points_in_poly

[None,
 1175,
 622,
 486,
 None,
 None,
 150,
 None,
 None,
 272,
 None,
 None,
 403,
 457,
 275,
 None,
 None,
 422,
 341,
 402,
 None,
 None,
 245,
 None,
 451,
 238,
 429,
 368,
 271,
 242,
 292,
 324,
 None,
 222,
 474,
 463,
 456,
 260,
 389,
 None,
 None,
 None,
 317,
 469,
 255,
 346,
 305,
 265,
 None,
 268,
 465,
 367,
 391,
 287,
 420,
 None,
 419,
 None,
 None,
 444,
 299,
 303,
 409,
 386,
 None,
 None,
 None,
 None,
 461,
 None,
 None,
 None,
 None,
 423,
 407,
 None,
 None,
 None,
 349,
 None,
 278,
 425,
 None,
 402,
 424,
 None,
 None,
 427,
 None,
 None,
 298,
 391,
 None,
 310,
 241,
 283,
 296,
 333,
 358,
 None,
 None,
 357,
 420,
 None,
 None,
 None,
 None,
 226,
 405,
 440,
 None,
 224,
 None,
 365,
 220,
 354,
 None,
 294,
 350,
 None,
 307,
 None,
 None,
 236,
 280,
 None,
 306,
 270,
 269,
 473,
 249,
 257,
 399,
 None,
 416,
 None,
 262,
 412,
 315,
 325,
 None,
 279,
 430,
 375,
 366,
 None,
 235,
 293,
 297,
 144,
 None,
 295,
 None,
 None,
 450,
 458,
 None,
 436,
 212,
 None,
 237,
 446,
 464,
 None,
 None,
 417,
 244,
 None,
 None,
 None,
 None,
 356,
 None,
 217,
 321,
 252,
 392,
 319,
 402,
 None,
 360,
 387,
 None,
 None,
 None,
 309,
 460,
 408,
 None,
 None,
 262,
 288,
 None,
 None,
 None,
 None,
 411,
 396,
 308,
 None,
 232,
 None,
 None,
 413,
 None,
 449,
 443,
 395,
 426,
 376,
 None,
 359,
 218,
 None,
 342,
 415,
 None,
 225,
 None,
 363,
 431,
 284,
 None,
 380,
 227,
 None,
 None,
 290,
 None,
 453,
 None,
 230,
 337,
 None,
 None,
 300,
 455,
 301,
 331,
 314,
 239,
 251,
 405,
 None,
 None,
 318,
 None,
 231,
 322,
 None,
 291,
 378,
 353,
 None,
 400,
 394,
 215,
 281,
 332,
 320,
 None,
 384,
 327,
 234,
 None,
 None,
 243,
 437,
 432,
 277,
 285,
 420,
 418,
 None,
 329,
 None,
 None,
 214,
 282,
 475,
 267,
 347,
 335,
 None,
 None,
 370,
 401,
 228,
 None,
 336,
 None,
 None,
 328,
 301,
 344,
 369,
 None,
 247,
 261,
 305,
 452,
 None,
 None,
 253,
 390,
 273,
 345,
 None,
 None,
 385,
 None,
 233,
 None,
 372,
 476,
 254,
 326,
 223,
 None,
 388,
 None,
 None,
 256,
 343,
 None,
 311,
 414,
 213,
 None,
 None,
 263,
 None,
 406,
 274,
 None,
 442,
 None,
 None,
 472,
 None,
 None,
 216,
 410,
 340,
 266,
 393,
 None,
 394,
 398,
 441,
 None,
 None,
 None,
 None,
 264,
 None,
 371,
 377,
 383,
 338,
 323,
 None,
 351,
 None,
 421,
 352,
 356,
 330,
 None,
 258,
 390,
 343,
 None,
 361,
 None,
 339,
 None,
 462,
 316,
 None,
 448,
 None,
 None,
 313,
 235,
 355,
 302,
 312,
 None,
 None,
 None,
 334,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 1868,
 None,
 1864,
 None,
 None,
 None,
 None,
 1866,
 None,
 None,
 None,
 1867,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 1865,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 1861,
 None,
 None,
 1626,
 None,
 None,
 1616,
 None,
 1632,
 None,
 1621,
 None,
 None,
 1630,
 None,
 None,
 None,
 1627,
 None,
 None,
 None,
 None,
 None,
 1606,
 1619,
 None,
 None,
 None,
 None,
 1636,
 None,
 1604,
 1637,
 None,
 1620,
 None,
 None,
 1648,
 None,
 None,
 1643,
 None,
 None,
 1628,
 None,
 None,
 None,
 None,
 None,
 1640,
 None,
 None,
 None,
 1641,
 None,
 1608,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 1618,
 None,
 None,
 None,
 None,
 1645,
 None,
 1625,
 1610,
 1614,
 None,
 None,
 1633,
 1605,
 None,
 None,
 None,
 None,
 1607,
 None,
 None,
 1651,
 1615,
 1603,
 None,
 None,
 None,
 None,
 1639,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 1642,
 None,
 None,
 1617,
 None,
 None,
 1650,
 1624,
 1646,
 None,
 None,
 None,
 None,
 None,
 1598,
 None,
 1602,
 None,
 1629,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 2680,
 None,
 None,
 2679,
 None,
 None,
 None,
 None,
 None,
 2672,
 None,
 2677,
 2676,
 None,
 None,
 None,
 None,
 2678,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 2673,
 None,
 None,
 None,
 2674,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 2542,
 2538,
 None,
 None,
 None,
 2537,
 None,
 None,
 2540,
 None,
 None,
 2544,
 None,
 None,
 None,
 2543,
 2539,
 None,
 None,
 None,
 None,
 2546,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 1893,
 1901,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 1892,
 None,
 1896,
 None,
 None,
 None,
 None,
 1889,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 1906,
 None,
 None,
 1908,
 None,
 None,
 None,
 None,
 1888,
 None,
 1903,
 None,
 None,
 None,
 None,
 1894,
 None,
 1890,
 None,
 1898,
 1887,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 2286,
 None,
 2292,
 None,
 None,
 None,
 None,
 None,
 None,
 2288,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 2290,
 2287,
 None,
 None,
 1580,
 None,
 1582,
 None,
 1591,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 1570,
 None,
 None,
 None,
 None,
 None,
 None,
 1587,
 1588,
 None,
 None,
 None,
 1568,
 1575,
 None,
 None,
 None,
 1590,
 1580,
 1571,
 1576,
 None,
 1569,
 None,
 None,
 None,
 None,
 None,
 None,
 1572,
 None,
 None,
 None,
 None,
 1583,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 1579,
 None,
 1573,
 None,
 None,
 None,
 None,
 1574,
 None,
 1581,
 None,
 None,
 1595,
 None,
 1584,
 None,
 None,
 None,
 1586,
 None,
 None,
 None,
 None,
 1578,
 1567,
 188,
 None,
 129,
 201,
 105,
 None,
 170,
 166,
 None,
 None,
 172,
 206,
 None,
 119,
 116,
 146,
 184,
 196,
 None,
 204,
 None,
 None,
 173,
 192,
 185,
 120,
 187,
 143,
 None,
 178,
 None,
 113,
 None,
 None,
 None,
 118,
 171,
 99,
 None,
 198,
 179,
 101,
 127,
 155,
 132,
 None,
 109,
 149,
 None,
 181,
 94,
 174,
 93,
 145,
 None,
 None,
 None,
 None,
 136,
 135,
 None,
 117,
 115,
 None,
 141,
 123,
 None,
 102,
 110,
 183,
 None,
 151,
 160,
 None,
 148,
 167,
 112,
 None,
 None,
 None,
 108,
 None,
 None,
 None,
 199,
 None,
 98,
 125,
 None,
 None,
 153,
 97,
 None,
 139,
 197,
 None,
 None,
 None,
 165,
 None,
 None,
 175,
 ...]

In [82]:
#Concatenating Point Coordinates, corrresponding parcel and corresponfind polygon number
df1 = pd.DataFrame(shapes_lst,columns = ['Coordinates'])
df2 = pd.DataFrame(shapeRecords_lst,columns = ['folio','nr'])
df3 = pd.DataFrame(points_in_poly,columns=['Polygon nr'])

points_data = pd.concat([df2,df1,df3],axis = 1)

points_data.head(5)

   folio  nr                               Coordinates  Polygon nr
0   11.0  31  [2537837.2384421797, 1152812.6891318772]         NaN
1    8.0  62   [2538186.982063003, 1152556.1207527372]      1175.0
2    5.0  36  [2538655.7866109735, 1152528.7225918449]       622.0
3    4.0  19   [2538697.705673789, 1152501.8790962875]       486.0
4    3.0  47  [2538287.1413293835, 1152468.0560848818]         NaN

In [60]:
#Creating numbered polygon dataframe
polygonNr=range(len(shapesPoly_lst))
df1 = pd.DataFrame(polygonNr,columns = ['Polygon nr'])
df2 = pd.DataFrame(shapesPoly_lst,columns = ['Parcel coordinates'])

polygon_data = pd.concat([df1,df2],axis = 1)

polygon_data.head(5)

   Polygon nr                                 Parcel coordinates
0           0  [[2534453.2439075685, 1156083.2249797706], [25...
1           1  [[2534453.2439075685, 1156083.2249797706], [25...
2           2  [[2534453.2439075685, 1156083.2249797706], [25...
3           3  [[2534453.2439075685, 1156083.2249797706], [25...
4           4  [[2534453.2439075685, 1156083.2249797706], [25...

In [92]:
parcel_data = points_data.merge(polygon_data,how = 'left', on = ['Polygon nr'])
parcel_data = parcel_data.iloc[:,[0,1,2,4]]
parcel_data.head(5)

,folio,nr,Coordinates,Parcel coordinates
0,11.0,31,"[2537837.2384421797, 1152812.6891318772]",NaN
1,8.0,62,"[2538186.982063003, 1152556.1207527372]","[[2534453.2439075685, 1156083.2249797706], [25..."
2,5.0,36,"[2538655.7866109735, 1152528.7225918449]","[[2534453.2439075685, 1156083.2249797706], [25..."
3,4.0,19,"[2538697.705673789, 1152501.8790962875]","[[2534453.2439075685, 1156083.2249797706], [25..."
4,3.0,47,"[2538287.1413293835, 1152468.0560848818]",NaN

### Reading Parcel Informations

In [93]:
#XLSX File name and Location
LEGEND_FILE_NAME = 'data/legende.xlsx'

In [94]:
legend = pd.read_excel(LEGEND_FILE_NAME)

In [95]:
legend.head(5)

,Unnamed: 0,folio,nr,articles,use,owner_surname
0,0,1,1.0,NaN,"['place', 'passage']",Commune de Lausanne
1,1,1,2.0,NaN,['terrasse'],Commune de Lausanne
2,2,1,3.0,NaN,['place'],Marie-Antoine De la Forêt
3,3,1,4.0,NaN,['maison'],Marie-Antoine De la Forêt
4,4,1,5.0,NaN,['jardin'],Marie-Antoine De la Forêt

### Merging datasets

In [96]:
parcel_data = legend.merge(parcel_data,how = 'left', on = ['folio','nr'])
parcel_data.head(5)

E:\Anaconda\envs\shs_MA\lib\site-packages\pandas\core\reshape\merge.py:1113: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

,Unnamed: 0,folio,nr,articles,use,owner_surname,Coordinates,Parcel coordinates
0,0,1,1.0,NaN,"['place', 'passage']",Commune de Lausanne,"[2537963.7259905394, 1152338.6537582586]",NaN
1,1,1,2.0,NaN,['terrasse'],Commune de Lausanne,"[2537979.7504673535, 1152340.5797771064]",NaN
2,2,1,3.0,NaN,['place'],Marie-Antoine De la Forêt,"[2538001.090756188, 1152357.8369059833]",NaN
3,3,1,4.0,NaN,['maison'],Marie-Antoine De la Forêt,"[2538010.5667689196, 1152354.524153565]","[[2534453.2439075685, 1156083.2249797706], [25..."
4,4,1,5.0,NaN,['jardin'],Marie-Antoine De la Forêt,"[2537998.471370555, 1152345.8955891265]",NaN

In [97]:
parcel_data.to_excel("data/parcelInfos.xlsx")