# Linking Coordinates from .shp file to parcel information on .xlsx file

In [2]:
import shapefile
import inspect
import pandas as pd

### Reading Coordinates

In [20]:
points_data = pd.DataFrame(pd.read_pickle("num_parcelles_coor.pickle"))
points_data.pos = points_data.pos.apply(list)
points_data.head(5)

   folio  nr                                      pos
0   11.0  31   [46.52371705744598, 6.628496551244308]
1    8.0  62   [46.52144164893615, 6.633088698310576]
2    5.0  36  [46.52123841427977, 6.6392014093800364]
3    4.0  19   [46.52100080169083, 6.639751229955555]
4    3.0  47  [46.520658756766714, 6.634405674598497]

### Reading Parcel Informations

In [21]:
#XLSX File name and Location
LEGEND_FILE_NAME='data/legende.xlsx'

In [22]:
legend=pd.read_excel(LEGEND_FILE_NAME)

In [23]:
legend.head(5)

,Unnamed: 0,folio,nr,articles,use,owner_surname,Unnamed: 6
0,0,1,1.0,NaN,"['place', 'passage']",Commune de Lausanne,NaN
1,1,1,2.0,NaN,['terrasse'],Commune de Lausanne,NaN
2,2,1,3.0,NaN,['place'],Marie-Antoine De la Forêt,NaN
3,3,1,4.0,NaN,['maison'],Marie-Antoine De la Forêt,NaN
4,4,1,5.0,NaN,['jardin'],Marie-Antoine De la Forêt,NaN

### Merging datasets

In [24]:
parcel_data=legend.merge(points_data,how='left', on=['folio','nr'])
parcel_data.head(5)

C:\Users\Maxime\anaconda3\envs\adaexam\lib\site-packages\pandas\core\reshape\merge.py:1141: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

,Unnamed: 0,folio,nr,articles,use,owner_surname,Unnamed: 6,pos
0,0,1,1.0,NaN,"['place', 'passage']",Commune de Lausanne,NaN,"[46.5194648115546, 6.6302086723144145]"
1,1,1,2.0,NaN,['terrasse'],Commune de Lausanne,NaN,"[46.5194836242143, 6.63041722290751]"
2,2,1,3.0,NaN,['place'],Marie-Antoine De la Forêt,NaN,"[46.51964083504432, 6.630692981092635]"
3,3,1,4.0,NaN,['maison'],Marie-Antoine De la Forêt,NaN,"[46.519611915812376, 6.630816905582044]"
4,4,1,5.0,NaN,['jardin'],Marie-Antoine De la Forêt,NaN,"[46.519533178353655, 6.630660454149068]"

In [25]:
parcel_data.to_csv("data/parcelInfos.csv")