# Linking Coordinates from .shp file to parcel information on .xlsx file

In [13]:
import shapefile
import inspect
import pandas as pd

### Reading Coordinates

In [14]:
#Shape File name and location
SHP_FILE_NAME='data/num_parcelles_corrected.shp'
#Record File name and location
DBF_FILE_NAME='data/num_parcelles_corrected.dbf'

In [15]:
#Reading shape and records
sf = shapefile.Reader(DBF_FILE_NAME)
shapeRecs = sf.shapeRecords()
sf = shapefile.Reader(SHP_FILE_NAME)
shapes = sf.shapes()

In [16]:
#Preparing information concatenation by creating lists
shapes_lst=[]
for i in range(0,len(shapes)) :
    shapes_lst.append(shapes[i].points[0:2])

shapeRecords_lst=[]
for i in range(0,len(shapeRecs)) :
    shapeRecords_lst.append(shapeRecs[i].record[1:3])

In [17]:
#Concatenating Point Coordinates and corrresponding parcel
df1=pd.DataFrame(shapes_lst,columns=['Coordinates'])
df2=pd.DataFrame(shapeRecords_lst,columns=['folio','nr'])

points_data=pd.concat([df2,df1],axis=1)

points_data.head(5)

   folio  nr                               Coordinates
0   11.0  31  [2537837.2384421797, 1152812.6891318772]
1    8.0  62   [2538186.982063003, 1152556.1207527372]
2    5.0  36  [2538655.7866109735, 1152528.7225918449]
3    4.0  19   [2538697.705673789, 1152501.8790962875]
4    3.0  47  [2538287.1413293835, 1152468.0560848818]

### Reading Parcel Informations

In [18]:
#XLSX File name and Location
LEGEND_FILE_NAME='data/legende.xlsx'

In [19]:
legend=pd.read_excel(LEGEND_FILE_NAME)

In [21]:
legend.head(5)

,Unnamed: 0,folio,nr,articles,use,owner_surname
0,0,1,1.0,NaN,"['place', 'passage']",Commune de Lausanne
1,1,1,2.0,NaN,['terrasse'],Commune de Lausanne
2,2,1,3.0,NaN,['place'],Marie-Antoine De la Forêt
3,3,1,4.0,NaN,['maison'],Marie-Antoine De la Forêt
4,4,1,5.0,NaN,['jardin'],Marie-Antoine De la Forêt

### Merging datasets

In [22]:
parcel_data=legend.merge(points_data,how='left', on=['folio','nr'])
parcel_data.head(5)

E:\Anaconda\envs\shs_MA\lib\site-packages\pandas\core\reshape\merge.py:1113: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

,Unnamed: 0,folio,nr,articles,use,owner_surname,Coordinates
0,0,1,1.0,NaN,"['place', 'passage']",Commune de Lausanne,"[2537963.7259905394, 1152338.6537582586]"
1,1,1,2.0,NaN,['terrasse'],Commune de Lausanne,"[2537979.7504673535, 1152340.5797771064]"
2,2,1,3.0,NaN,['place'],Marie-Antoine De la Forêt,"[2538001.090756188, 1152357.8369059833]"
3,3,1,4.0,NaN,['maison'],Marie-Antoine De la Forêt,"[2538010.5667689196, 1152354.524153565]"
4,4,1,5.0,NaN,['jardin'],Marie-Antoine De la Forêt,"[2537998.471370555, 1152345.8955891265]"

In [26]:
parcel_data.to_excel("data/parcelInfos.xlsx")